.app-container {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.friend-list {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
  max-height: 100%;
  overflow: auto;
}

.friend-list ul {
  list-style: none;
  padding: 0;
}

.chat-box {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex: 1;
  margin-bottom: 10px;
  overflow-y: auto;
}

.user-message {
  text-align: right;
  padding: 8px;
  margin: 8px;
}

.user-message > span {
  background-color: lightblue;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.friend-message {
  text-align: left;
  padding: 8px;
  margin: 8px;
}

.friend-message > span {
  text-align: left;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.message-input {
  display: flex;
}

.message-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin-right: 8px;
}

.message-input button {
  padding: 10px;
  font-size: 16px;
}

.friend-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.friend-list li:hover, .friend-list li.selected-friend {
  background-color: #f0f0f0;
}

.avatar {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-name {
  font-size: 16px;
}